body{
    background-color: #5AB9EA;
    margin: 0%;
    font-family: 'Courier New', monospace;
}

#headerdiv{
    background-color:#8860D0;
    height: 200px;
    padding: 20px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 5px black  double;
  flex-direction: column;
}

.topdiv{
    height: 500px;
    border: 5px black  double;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items:center;
    border-bottom: 0px;
    background-color: #84CEEB;
}

.middiv{
    height: 500px;
    border: 5px black  double;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items:center;
    border-bottom: 0px;
    border-top: 0px;
    background-color: #84CEEB;
}

.botdiv{
    height: 500px;
    border: 5px black  double;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items:center;
    border-top: 0px;
    background-color: #84CEEB;
}

.img{
    height: 400px;
    width: 245px;
    background-color: chartreuse;
    border: 3px black solid;
    border-radius: 10%;
    

}

button{
    background-color: #84CEEB;
    border: 0px;
}