body {
    background-color: #5AB9EA;
    margin: 0%;
    font-family: 'Courier New', monospace;
    
}



#headerdiv{
    background-color: #8860D0;
    height: 200px;
    padding: 20px;
  color: #EDF5E1;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 5px black  double;
  
}

#icon{
    width: 80px;
    height: 80px;
}

.rightheader{
    display: flex;
    justify-content:right;
    align-items: flex-end;
    text-align: right;
    color:red ;
}

.genrediv{
    height: 500px;
    border: 5px black double;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items:center;
    border-bottom: 0px;
    background-color: #84CEEB;
}

button{
    color: #5CDB95;
    display: inline-block;
}





footer{
    background-color: #8860D0;
    height: 200px;
    padding: 20px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  border: 5px black double;
  flex-direction: column;
        
}

/* .genrecard{
    height: 400px;
    width: 245px;
    background-color: chartreuse;
    border: 3px black solid;
    border-radius: 10%;
    

} */

.seemorediv{
    height: 75px;
    border: 5px black double;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items:center;
    border-top: 0px;
    margin-top: 0px;
    background-color: #84CEEB;
}










.img{
    height: 400px;
    width: 245px;
    background-color: chartreuse;
    border: 3px black solid;
    border-radius: 10%;
    

}

button{
    background-color: #84CEEB;
    border: 0px;
    
}

.genrename{
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 80px;
    border: black double 3px;
    border-radius: 25%;
    width: 300px;
    display: flex;
    justify-content:center;
background-color: #FFEA00;    
color: #EDF5E1;
}

.jump{
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

  .jump:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
    
  }

  #jumpdiv{
    display: flex;
    justify-content: end;
    
  }

